.navbar {
    display: flex;
    background-color: #e4e0e0;
    /* padding: 8px; */
    box-shadow: 0 2px 4px 2px rgb(58, 61, 61);
    /* background: url("./header.png") no-repeat; */
}

.navbar .logo {
    margin-left: 40px;
    padding: 10px;
}

.navbar .logo :hover {
    cursor: pointer;
    color: #fff;
}

.navbar .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    color: 20px;
    font-weight: 500;
    color: rgb(7, 7, 7);
}

.nav-menu li:hover {
    cursor: pointer;
    color: #fff;
}