.About_dec {
    text-align: justify;
    font-size: 18px;
    align-items: center;
    margin: 5px 5px;
}

.About_dec span {
    text-align: justify;
    font-size: 18px;
    cursor: pointer;
}

.About_us {
  padding: 20px;
}