    .heading {
        margin-left: 70px;
        padding: 30px;
        cursor: pointer;
        text-align: center;
    }
    
    .hero {
        height: 35vh;
        background-color: linear-gradient(180ddeg, plum, #e1ffea22 60%);
        display: flex;
        padding: 50px;
        box-shadow: 0 3px 4px 5px rgb(58, 61, 61);
        width: 800px;
        text-align: center;
        margin-left: 230px;
        margin-top: 20px;
    }
    
    .hero-left {
        display: contents;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 180px;
        line-height: 1.1;
    }
    
    .hero-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero-right img {
        height: 250px;
        width: 300px;
        padding-left: 10px;
    }